<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<div >
    <table align="center" border="1">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Age</td>
    </tr>
    <div th:each="user: ${page.records}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
        </tr>
    </div>
    </table>
    <div class="dataTablesInfo" th:text="|当前第 ${page.getCurrent()} 页 总计 ${page.getPages()} 页 共 ${page.getTotal()} 条记录|"></div>
    <div>
        <ul>
            <li><- 前一页</li>
            <li th:class="${num == page.getCurrent()?'active':''}" th:each="num:${#numbers.sequence(1,page.getPages())}"><a th:href="@{/table(pn=${num})}" th:text="${num}"></a></li>
            <li> 下一页 -></li>
        </ul>
    </div>
</div>

</body>
</html>